body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  canvas {
    background-color: #333;
    border: 2px solid #000;
    touch-action: none; /* Disable gestures like scrolling or zooming */
  }

  